@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 200 800;
	font-display: fallback;
	src: url(Manrope.woff2) format("woff2");
}

html {
	scroll-behavior: smooth;
}

:root {
	--color-accent: rgb(51, 180, 255);
}

body {
	margin: 0;
	font: 16px/1.5 Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #171724;
	background-image: radial-gradient(960px 1440px at 35% 0%, #191c37, #171724);
	background-repeat: repeat;
	background-size: cover;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

header {
	position: sticky;
	top: 0;
	backdrop-filter: blur(30px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 5rem;
	z-index: 1000;
}


header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-button {
	color: #000;
	font-weight: bold;
	background: #fff;
	font-size: .8rem;
	padding: 0 1rem;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	height: 40px;
	transition: color 0.15s linear, background 0.15s linear;
}

.header-button:hover {
	background: var(--color-accent);
	color: #fff;
	text-decoration: none;
}

.header-visit {
	color: #000;
	font-weight: bold;
	background: #5feca5;
	font-size: .8rem;
	padding: 0 1rem;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	height: 40px;
	gap: 10px;
	transition: color 0.15s linear, background 0.15s linear;
}

.header-visit:hover {
	background: #0e925b;
	color: #fff;
	text-decoration: none;
}

.header-lang {
	color: #000;
	font-weight: bold;
	background: #ffffff;
	font-size: .8rem;
	padding: 0 5px;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	height: 40px;
	gap: 5px;
	transition: color 0.15s linear, background 0.15s linear;
}

.header-lang:hover {
	background: var(--color-accent);
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

header h1 {
	padding: 1rem 0;
	margin: 0;
	display: flex;
	align-items: center;
	font-size: 2rem;
}

header h1 img {
	margin-right: .5rem;
}

.header-buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1320px;
}

.about .btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background: var(--color-accent);
	border-radius: 5rem;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1;
	padding: .5rem 1rem;
}

.about .btn:hover,
.about .btn:focus {
	text-decoration: none;
	color: #000;
	background: #fff;
}

.about .btn:hover span,
.about .btn:focus span {
	text-decoration: underline;
}

.about {
	margin-top: 60px;
}

.about .apply-text {
	margin-left: .5rem;
}

.about .container {
	display: flex;
	gap: 60px;
}

.about-left {
	font-size: 1.5rem;
	max-width: 600px;
	align-self: center;
}

.about-right {
	max-width: 720px;
	align-self: center;
}

.about-fluff b {
	color: var(--color-accent);
}

.about-pic {
	width: 125%;
	max-width: 1200px;
	border-radius: 10px;
	box-shadow: rgba(17, 107, 129, 0.747) 0 0 80px 0;
}

.faculties img {
	width: 24px;
	height: 24px;
	vertical-align: -0.2rem;
}

.faculties a {
	white-space: nowrap;
}

.pros {
	max-width: 1800px;
	margin-top: 5rem;
	border-radius: 2rem;
	background: linear-gradient(rgba(255, 255, 255, 0) 10%, var(--color-accent) 1000%);
}

.pros .container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	flex-direction: row;
}

.map {
	width: 600px;
	height: auto;
	border-radius: 1rem;
	margin: 50px;
	box-shadow: rgb(34, 40, 94) 0 0 80px 0;
}

.pro-list {
	max-width: 1800px;
	margin: 3%;
	border-radius: 2rem;
}

.pro {
	display: flex;
	gap: 2rem;
	margin-bottom: 3rem;
}

.pro-icon {
	padding-top: 1rem;
}

.pro-description {
	max-width: 600px;
}

.pro-description h2 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-size: 2rem;
	word-break: break-all;
}

.pro-description p {
	margin: 0;
	margin-bottom: .7rem;
	text-wrap: balance;
}

.opps {
	margin-top: 7rem;
	margin-bottom: 7rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: end;
}

.opps img {
	width: 100%;
	border-radius: 10px;
	aspect-ratio: 1 / 1;
}

.opp-container {
	text-align: center;
	margin: 20px 0;
}

.opp-container h2 {
	margin-top: 10px;
}

.footnote {
	text-align: center;
	text-wrap: balance;
	margin-bottom: 6rem;
}

.footer {
	margin: 3rem auto;
	line-height: 1.75;
	color: #ccc;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 1rem;
}

.footer .footer-right {
	text-align: right;
}

@media (max-width: 1300px) {
	.about .container {
		flex-direction: column;
	}

	.about-pic {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 1100px) {
	.pros .container {
		padding-top: 50px;
		flex-direction: column;
	}

	.opps {
		margin-top: 1rem;
	}
}

@media (max-width: 840px) {
	header {
		margin-bottom: 2rem;
	}

	.opp-container {
		max-width: 300px;
	}

	.header-buttons {
		display: none;
	}

	.about .btn {
		display: flex;
	}

	.pros {
		margin: 0.5rem;
	}

	.pro {
		gap: 1rem;
	}

	.pro-description h2 {
		font-size: 1.2rem;
	}

	.pro-icon {
		padding-top: 0;
	}

	.footer .container,
	.opps {
		flex-direction: column;
		align-items: center;
	}

	.footer .container {
		align-items: unset;
	}

	.footer .footer-left,
	.footer .footer-right {
		text-align: center;
	}

	.map {
		max-width: 600px;
	}
}

@media (max-width: 400px) {

	header h1,
	.about-left {
		font-size: 1.5rem;
	}
}